html, body {
  background-color: #000;
  /* background-color: white; */
  margin: 0;  
  padding: 0;
  justify-content: center;
  align-items: center; 
}

#canvas {
  position: absolute;
  transform: rotateY(180deg) translateY(-50%) scale(2);
  top: 50%;  /* Moves it half its own height upwards */
  left:31.2%;
  width: 100vw;
  /* height: 50%; */
  z-index: 2;
}

#video {
  position: absolute;
  transform: rotateY(180deg);
  filter: grayscale(100%) ;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.overlay{
  background-color: rgba(0,0,0,0.7);
  /* background-color: #000; */
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1
}
